# Ignore everything
*

# But not these files...
!.gitignore
!README.md
!repositories.json
!websites.json
!generator
!generator/*
!Makefile
!jobs
!jobs/*
!jobs/*/config.xml
!jobs/__*template__/config.xml.template
.DS_Store
