# Ignore everything
*

# But not these files...
!.gitignore
!README.md
!repositories.json
!websites.json
!books.json
!generator
!generator/*
!Makefile
!jobs
!jobs/*
!jobs/*/config.xml
!jobs/*/Jenkinsfile
!jobs/*/*.groovy
!jobs/*/*.py
!jobs/*/*.sh
!jobs/__*template__/config.xml.template
!.github/workflows/*